[submodule "Wiki"]
	path = Wiki
	url = https://github.com/krischik/SteemRubyTutorial.wiki.git
	branch = master
[submodule "Frameworks/steem-ruby"]
	path = Frameworks/steem-ruby
	url = https://github.com/krischik/steem-ruby
