[submodule "Frameworks/steem-ruby"]
	path = Frameworks/steem-ruby
	url = https://github.com/krischik/steem-ruby
[submodule "Frameworks/radiator"]
	path = Frameworks/radiator
	url = https://github.com/krischik/radiator.git
[submodule "Frameworks/steem-mechanize"]
	path = Frameworks/steem-mechanize
	url = https://github.com/krischik/steem-mechanize
[submodule "Wiki"]
	path = Wiki
	url = https://github.com/krischik/SteemRubyTutorial.wiki.git
	branch = master
